###################
# Compiled
###################
*.class
*.com
*.o
*.so
*.pyc
###################
# Tmp/swap
###################
*~
*.swo
*.swp
###################
# compress
###################
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
###################
# Logs
###################
*.log
*.lg
*.sql*
###################
# OS
###################
.DS_Store*
*.db
*.lock
###################
# Venv/modules
###################
vnv
venv
virtualenv
node_modules
